

<!--  THIS TEMPLATE IS NOT USED *********************** -->

<!DOCTYPE HTML>
<html>
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>


<p>Welcome to <span th:text="${fileName}">fileName</span></p>
 <!--   <p>Hi, welcome to a test template page <a href="/">Home page</a></p> -->
   
   <h2> View the medication picture below <a href="/">Home page</a> </h2>
   <br/>
   <img th:src="${fileName}"  /> 
</body>
</html>